body {
	margin: 0;
	padding: 0;
}

.header {
	position: fixed;
	height: 70px;
	width: 100%;
	color: #fff;
	z-index: 99;

	&__logo {
		width: 20%;
		z-index: 3;
	}
	&__btn {
		display: block;
		position: relative;
		width: 60px;
		height: 50px;
		padding: 0;
		background-color: transparent;
		border: none;
		cursor: pointer;
		z-index: 3;

		&-span {
			display: block;
			position: relative;
			width: 100%;
			height: 5px;
			background-color: $base-red;
			border-radius: 10px;
		}
		&-span::before,
		&-span::after {
			content: "";
			position: absolute;
			display: block;
			background-color: $base-red;
			border-radius: 10px;
			width: 100%;
			height: 5px;
			left: 0px;
			top: -12px;
		}

		&-span:after {
			top: 12px;
		}

	}

	&__menu {
		height: 70vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		opacity: 1;
		background-color: transparent;
	
	
		&::before{
			content: "";
			position: absolute;
			height: 115%;
			width: 100%;
			background-color: #000000;
			opacity: 0.95;
			z-index: 1;
			top: -80px;
		}
		
	}

	&__menu-link{
		text-decoration: none;
	}
	
	&__menu-item {
		color: $base-red;
		height: 10vh;
		line-height: 10vh;
		margin: 1px;
		text-align: center;
		font-size: 2.2em;
		text-transform: uppercase;
		font-family: 'Lato', sans-serif;
		z-index: 2;
		cursor: pointer;
		
		&:hover{
			background-color: #af1515;
			color: #fff;
			transition: all 0.3s ease-in-out;
		}
	}
}


.main-nav {
	position: absolute;
	display: none;
	top: 80px;
	left: 0px;
	width: 100%;
	opacity: 0;
	list-style: none;	
}
.main-nav-opened{
	opacity: 1;
	display: block;
	transition: 0.3s all ease-in-out;
}

.header-container {
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	
}


.scrolled-header{
	background-color: #fff;
	opacity: 0.8;
	transition: all 0.3s ease-in-out;
}
