abbr{
	text-decoration: none;
	//background-color: blue;
	position: absolute;
	top: 50%;                         /* 3 */
   transform: translate(-50%, -50%);
	
}
.items-container{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 20px;
	width: 85%;
	margin: 0 auto;
	//background-color: red;
}
.items{
	background: url(/img/trending_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #777777;
	
	&__img{
		grid-column: 1/7;
		width: 100%;
		height: auto;
		display: block;
		background-color: yellow;
	}
	&__title{
		grid-column: 1/7;
		color: $base-red;
		text-transform: uppercase;
		font-size: 2.8em;
		font-family: 'Lato', sans-serif;
		font-weight: 800;
		text-align: left;
	}
	&__subtitle{
		grid-column: 1/7;
		font-family: 'Open-Sans', sans-serif;
		font-size: 1.7em;
		color: #777777;
		letter-spacing: 1px;
		text-align: left;
	}
	&__text{
		grid-column: 1/7;
		font-size: 2em;
		line-height: 1.3em;
		font-family: 'Lato', sans-serif;
		letter-spacing: 1px;
	}
	&__tip{
		grid-column: 1/7;
		font-size: 2em;
		font-family: 'Lato', sans-serif;
		letter-spacing: 1px;
		line-height: 1.3em;
	}
	&__tip h4{
		text-transform: uppercase;
	}

	&__sizes{
		grid-column: 1/7;
		text-align: center;
	}
	
	&__sizes legend{
		opacity: 0;
	}
	&__sizes input{
		position: absolute;
		top: 0px;
		left: 0px;
		opacity: 0;
		
	}
	&__sizes label{
		display: inline-block;
		position: relative;
		height: 55px;
		width: 40%;
		margin: 2%;
		font-size: 1.8em;
		font-weight: 700;
		font-family: 'Lato', sans-serif;
		border: 1px solid #333333;
		color: #000;
	
		&:hover{
			background-color: #333333;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
			color: #fff;
		}
	}
	
	&__sizes-btn{
		width: 85%;
		height: 55px;
		font-size: 1.7em;
		text-transform: uppercase;
		border: 1px solid #333333;
		background-color: transparent;
		cursor: pointer;
		margin: 10px 0;
		font-weight: 700;
	}
}

